.App {
  text-align: center;
}

.pay-option-button {
  padding: 5px 10px;
  color: beige;
  background-color: gray;
  border-radius: 8px;
  margin-right: 10 px;
  border: none;
}

.pay-options-button:hover {
  cursor: pointer;
  background-color: transparent;
  color: thistle;
  background-color:#282c34;
}

body {
  color: white;
  z-index: -3;
}

html {
  background-color:slategray;
}

#order-div {
  text-align: justify;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

